@{
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div id="right_content">
    <h2>Tables section</h2>


    <table id="rounded-corner">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Details</th>
                <th>Price</th>
                <th>Date</th>
                <th>Category</th>
                <th>User</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td><input type="checkbox" name="" /></td>
                <td>Box Software</td>
                <td>Lorem ipsum dolor sit amet consectetur</td>
                <td>45$</td>
                <td>10/04/2011</td>
                <td>web design</td>
                <td>Alex</td>
                <td><a href="#"><img src="images/edit.png" alt="" title="" border="0" /></a></td>
                <td><a href="#"><img src="images/trash.gif" alt="" title="" border="0" /></a></td>
            </tr>
            <tr class="even">
                <td><input type="checkbox" name="" /></td>
                <td>Trial Software</td>
                <td>Lorem ipsum dolor sit amet consectetur</td>
                <td>155$</td>
                <td>12/04/2011</td>
                <td>web design</td>
                <td>Carrina</td>
                <td><a href="#"><img src="images/edit.png" alt="" title="" border="0" /></a></td>
                <td><a href="#"><img src="images/trash.gif" alt="" title="" border="0" /></a></td>
            </tr>
            <tr class="odd">
                <td><input type="checkbox" name="" /></td>
                <td>Hosting Pack</td>
                <td>Lorem ipsum dolor sit amet consectetur</td>
                <td>45$</td>
                <td>10/04/2011</td>
                <td>web design</td>
                <td>Alex</td>
                <td><a href="#"><img src="images/edit.png" alt="" title="" border="0" /></a></td>
                <td>
                    <a href="#"><img src="images/trash.gif" alt="" title="" border="0" /></a>
                </td>
            </tr>

        </tbody>
    </table>



</div>